

.holis{
	background-color: black;
	height: 50px;
	margin-bottom: 25px;
}


.cont{
	width: 25%;
	border: 1px solid #e9e9e9;

}

.container{
	margin: auto;
	width: 100%;
}
.login-container{

	height: 375px;
	margin-top: 0;
	 box-shadow: 5px 5px 5px #888888;
}

.register-container{

	height: 425px;
	margin-top: 0;
	box-shadow: 5px 5px 5px #888888;

}

.register-container p{text-align: center;}
.login-container p{text-align: center;}

#recover-password{
	text-align: center;
	color: gray;
}

.btn{
	width: 90%;
	margin:auto;
	text-align: center;
}
/**
.form-header{
	text-align: center;
	height: 45px;
	border-top-left-radius: 5px;
border-top-right-radius: 5px;
line-height: 45px;
}**/

input{
	border-style: none;
	font-size: 1em;
	background-color: inherit;
	font-family: inherit;
	color: black;
	outline: none;
	width: 100%;
}

.element-wrapper{
	border: 1px solid #e9e9e9;
	width: 90%;
}
.fa-column{
	font-size: 1.1em;
	line-height: 1.1em;
}
.white{color: white;}
.green-bg{background-color: #339933;}
.gray{color: #E9E9E9;}
.cursor{cursor: pointer;}
.gray-bg{background-color: gray;}
.gray1-bg{background-color: #f7f7f7;}
.red-bg{background-color: #b71c1c;}
.blue2-bg{background-color: #3b5998;}
.no-show{display: none;}



input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}
::-webkit-input-placeholder {
   color: gray;}

:-moz-placeholder {
   color: gray;
}

::-moz-placeholder {
   color: gray; 

}

:-ms-input-placeholder {  
   color: gray;
}







/**MEDIA QUERIES**/

@media screen and (max-width: 480px){

.main-nav ul li{

	float: none;
	border-bottom: 2px solid white;
}

.main-nav{
	display: none;
}

.nav-expanded{
	display: block;
}


.menu-responsive{
	display: block;
}

.main-nav ul li:last-child{

	border-bottom: none;
}


}